body{
	background: url(../img/background3.png) repeat;
	font-style: Arial, Helvetica, sans-serif;
}
#wrapper{
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}
#header{
	background: url(../img/hd_background2.png) repeat;
	height: 64px;
	width: 100%;
}
.home_icon{
		background: url(../img/hd_home.png) no-repeat;
		width: 13px;
		height: 12px;
}
.left{
	float: left;
}
.right{
	float: right;
}
